@import "../../../shared/mixins/generalText.scss";
@import "../../../shared/mixins/sizes.scss";
@import "../../../shared/mixins/utils.scss";

.policy-details__title {
  color: #0071ce;
  @include mainTitleText();
  font-family: Poppins, Loos, Arial, sans-serif;
  padding-top: 23px;
  margin: 0;
}

.policy-details__subtitle {
  font-size: 14px;
  color: #0071ce;
  font-family: Poppins, Loos, Arial, sans-serif;
  margin-bottom: 15px;
}

.policy-details__subtitle--card {
  font-size: 14px;
  color: #0071ce;
  font-family: Poppins, Loos, Arial, sans-serif;
  margin-bottom: 15px;
  padding: 0px 20px;
}

.policy-details__sections-titles {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  margin-bottom: 05px;
  padding: 0px 20px;
}

.policy-details__section-title {
  color: #0071ce;
  @include mainTabText();
  font-family: Poppins, Loos, Arial, sans-serif;
  padding: 8px 16px;
  cursor: pointer;
  margin: 5px 0px;
}

.policy-details__section-title:hover {
  background: #cbe2f8;
  color: #005a9e;
}

.policy-details__section-title--active {
  color: #0071ce;
  background: #f0f7ff;
  padding: 8px 16px;
  margin-bottom: 5px;
  border-bottom: 2px solid #0071ce;
}

.policy-details__header {
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(5, 5, 5, 0.1);
  display: flex;
  align-items:flex-start;
  box-sizing: border-box;
}

.policy-details__button-back {
  margin: 16px 0px;
}

::ng-deep .policy-details__btn-white button.ip-button {
  background: white !important;
  border: 0px solid #ddd !important;
}

::ng-deep .policy-details__btn-white button.ip-button:hover:enabled {
  background: #f5f5f5 !important;
}

.policy-details__card {
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(5, 5, 5, 0.1);
  box-sizing: border-box;
}

.policy-details__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.policy-details__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}

.policy-details__card-row {
  background-color: #ffffff;
  border-radius: 15px;
  flex: 1;
  padding: 20px 40px;
  box-shadow: 0 5px 10px rgba(5, 5, 5, 0.1);
  box-sizing: border-box;
}

.policy-details__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
}

.policy-details__pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.policy-details__pagination-center {
  margin: 0 auto;
}

.policy-details__pagination-center select {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid;
}

.policy-details__table-view {
  display: block;
}

.policy-details__card-view {
  display: none;
}

::ng-deep app-title-page {
  margin-bottom: 0 !important;
  
  .title-container {
    margin-bottom: 0 !important;
  }
  
  .title-container.mobile {
    margin-bottom: 0 !important;
  }
}

/* RESPONSIVE: TABLET */
@include md {
  .policy-details__card,
  .policy-details__card-row {
    width: 100%;
    padding: 20px;
  }

  .policy-details__header h2 {
    margin: 0;
  }

    .policy-details__sections-titles {
    gap: 15px;
    margin-bottom: 10px;
  }

  .policy-details__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 0px;
    width: 100%;
    padding: 0;
    margin-bottom: 14px;
    max-width: 100%;
    box-shadow: none;
  }

  .policy-details__button-back {
    padding-left: 0px;
    margin: 0;
  }

  .policy-details__row {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .policy-details__inputs {
    grid-template-columns: 1fr;
  }

  .policy-details__input-wrapper {
    max-width: 100%;
  }
}

/* RESPONSIVE: MOBILE */
@include sm {
  ::ng-deep .policy-details__btn-white button.ip-button:hover:enabled {
    background: #e6e6e6 !important;
  }

  ::ng-deep app-title-page {
  .ip-title-mobile {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 20px 30px !important;
  }
  
  .ip-title-mobile.mobile {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
}

  ::ng-deep .policy-details__btn-white button.ip-button {
    background-color: #f5f5f5 !important;
    border: 0px solid #f5f5f5 !important;
  }

  .policy-details__table-view {
    display: none;
  }

  .policy-details__card-view {
    display: block;
    background: #ffffff;
    border-radius: 12px;
    padding: 2px 10px;
    margin-bottom: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15), 
                0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .policy-details__card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 15px 0px;
    border-bottom: 1px solid #0071ce;
  }

    .policy-details__sections-titles {
    gap: 15px;
    margin-bottom: 10px;
  }

  .policy-details__card-id {
    @include cardText();
    font-family: Poppins, Loos, Arial, sans-serif;
    color: rgb(132, 129, 138);
    font-weight: 600;
  }

  .policy-details__card-row-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  .policy-details__card-label {
    @include sidenavTextLabel();
    font-family: Poppins, Loos, Arial, sans-serif;
    color: rgb(132, 129, 138);
    font-weight: 400;
  }

  .policy-details__card-label--status {
    @include sidenavTextLabel();
    font-family: Poppins, Loos, Arial, sans-serif;
    color:#0071ce;
    font-weight: 400;
  }

  .policy-details__card-value {
    @include sidenavTextLabel();
    font-family: Poppins, Loos, Arial, sans-serif;
    color: rgb(132, 129, 138);
    font-weight: 400;
    text-align: end;
  }

  .policy-details__card-value--status {
    @include sidenavTextLabel();
    font-family: Poppins, Loos, Arial, sans-serif;
    color: #0071ce;
    font-weight: 400;
    text-align: end;
  }

  .policy-details__card-value--date {
       @include sidenavTextLabel();
    font-family: Poppins, Loos, Arial, sans-serif;
    color: rgb(132, 129, 138);
    font-weight: 400;
    text-align: end;
  }

  .policy-details__card-label--amount {
    font-size: 0.95rem;
      font-family: "Inter", sans-serif;
      color: #3e3e3e;
      font-weight: 600;
      line-height: 1rem;
  }

  .policy-details__card-value--amount {
    justify-self: end; // alinea a la derecha
      font-size: 0.95rem;
      font-family: "Inter", sans-serif;
      color: #3e3e3e;
      font-weight: 600;
      line-height: 1rem;
  }

  .policy-details {
    padding: 2px;
  }

  .policy-details__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 0px;
    width: 100%;
    padding: 0;
    margin-bottom: 14px;
    max-width: 100%;
    box-shadow: none;
  }

  .policy-details__button-back {
    padding-left: 0px;
    margin: 0;
  }

  .policy-details__header h2 {
    margin: 0;
  }

  .policy-details__card {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
  }

  .policy-details__card-row {
    width: 100%;
    padding: 15px;
  }

  .policy-details__card-row h3 {
    margin-bottom: 15px;
  }

  .policy-details__title {
    text-align: start;
    width: 100%;
    margin: 0;
    padding-top: 0px;
  }

  .policy-details__form {
    width: 100%;
    gap: 15px;
  }

  .policy-details__row {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .policy-details__inputs {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .policy-details__input-wrapper {
    max-width: 100%;
  }

  .policy-details__input-wrapper input {
    padding: 14px 12px;
  }

  button {
    width: 100%;
    min-height: 48px;
    padding: 12px 16px;
    margin-top: 10px;
  }

  .policy-details__pagination {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .policy-details__pagination-center select {
    width: 100%;
  }
}