<app-notification-tray
  *ngIf="!(loadingService.isLoading$ | async)"
  [config]="notificationTrayConfig"
  [data]="notificationData"
  (viewNotification)="onViewNotification($event)"
  (replyNotification)="onReplyNotification($event)"
  (searchPerformed)="onSearchPerformed($event)"
  (filtersCleared)="onFiltersCleared()"
  (mobileFiltersOpened)="onMobileFiltersOpened()">
</app-notification-tray>

<!-- Modal para ver/responder notificación -->
<app-notification-modal
  [open]="showNotificationModal"
  [title]="'IP.NOTIFICATIONS.MODAL.TITLE'"
  [details]="selectedNotification"
  [responses]="selectedNotification?.responses"
  [isReplyMode]="isReplyMode"
  (openChange)="showNotificationModal = $event"
  (sendReply)="onSendReply($event)"
  (closeModal)="closeNotificationModal()">
</app-notification-modal>

