<form [formGroup]="controlsForm">

    <!-- HEADER -->
    <app-title-page *ngIf="!isMobile" [isMobile]="false" [title]="'NEW_VAR.POLICIES' | translate"></app-title-page>
    
    <div *ngIf="isMobile" class="mobile-header">
        <app-title-page [isMobile]="true" [title]="'NEW_VAR.POLICIES' | translate"></app-title-page>
        <button class="search-mobile" (click)="onClickFiltredSearchMobile()">
            <img src="../../../assets/new-styles/icons/buttons/search-icon-white.svg" />
            {{'IP.FILTERS_MODAL.FILTER' | translate}}
        </button>
    </div>

    <!-- CARD CON FILTROS -->
    <div class="card-table-filters">
        <div class="card-filtros">
            
            <!-- FILTROS DESKTOP -->
            <div *ngIf="!isMobile" class="card-filtros__actions">
                <div class="filters-container">


                    <!-- Fecha Desde -->
                    <div class="date-wrapper">
                        <app-ip-date-input 
                            [label]="'NEW_VAR.EXPIRATION_FROM' | translate"  
                            [control]="controlsForm.controls.dateStart" 
                            [max]="maxStart"
                        ></app-ip-date-input>
                    </div>

                    <!-- Fecha Hasta -->
                    <div class="date-wrapper">
                        <app-ip-date-input 
                            [label]="'NEW_VAR.EXPIRATION_TO'|translate " 
                            [control]="controlsForm.controls.dateEnd" 
                            [max]="maxEnd" 
                            [min]="minEnd"
                        ></app-ip-date-input>
                    </div>
                    
                </div>

                <!-- BOTONES DE ACCIÓN -->
                <div class="date-wrapper">
                    <button [disabled]="!canSearch" class="search" (click)="onClickFiltredSearch()">
                        <img src="../../../assets/new-styles/icons/buttons/search-icon-white.svg">
                    </button>
                </div>
                
                <div class="date-wrapper">
                    <button [disabled]="!canSearch" class="clean" (click)="onClearFilters('list')">
                        <img src="../../../../assets/new-styles/icons/cleaning.svg">
                    </button>
                </div>

                <div class="date-wrapper">
                    <button [disabled]="!canSearch" class="more-filters" (click)="onClickOpenMoreFilters()">
                        <img src="../../../../assets/icons/filter3.svg">
                    </button>
                </div>
            </div>
       
        </div>


        <!-- TABLA DESKTOP -->
        <div class="card-table" *ngIf="!isMobile">
            <app-table 
                [keyTranslate]="'IP.ADMIN_TABLE'" 
                [propertyOrder]="columnsHeaders" 
                [data]="tableDto"
                [actions]="actions" 
                [tableStyle]="'invopay'" 
                [isForSelectItem]="false" 
                [scroll]="true"
                [titlesFile]="titlesMap" 
                (action)="onTableAction($event)"
                (selectedItemsChange)="onSelectedItems($event)"
            ></app-table>
            <app-no-data *ngIf="policies.length<1"></app-no-data>
        </div>

        <!-- CARDS MOBILE -->
        <div *ngIf="isMobile" class="card-mobile">
            <div class="payment-card-mobile-container" *ngFor="let sale of tableDto; let i = index">
                <div class="payment-card-mobile-data">
                    <div class="card-header-mobile">
                        <span class="card-id-mobile">#{{ sale.id }}</span>
                        <div class="icon-movil-container">
                            <button class="menu-icon-mobile" (click)="toggleMobileMenu(i)">⋮</button>
                            <ul *ngIf="showMobileMenuIndex === i" class="menu-movil">
                                <li (click)="onMobileMenuAction('detail', sale)">
                                    {{'IP.ACTIONS_TOOLTIP.SEARCH' | translate}}
                                </li>
                                 <li *ngIf="userType==='assurance'" (click)="onMobileMenuAction('edit', sale)">
                                    {{'IP.ACTIONS_TOOLTIP.EDIT' | translate}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-body-mobile">
                        <div *ngIf="this.userType==='assurance'" class="info-row-mobile">
                            <span class="info-label-mobile">{{'IP.TABLE.CONSOLIDATED.SALES.BROKER' | translate}}</span>
                            <span class="info-value-mobile">{{ sale.corredor }}</span>
                        </div>
                        <div class="info-row-mobile">
                            <span class="info-label-mobile">{{'NEW_VAR.CLIENT' | translate}}</span>
                            <span class="info-value-mobile">{{ sale.cliente}}</span>
                        </div>
                        <div class="info-row-mobile">
                            <span class="info-label-mobile">{{'IP.CARD_TABLE.SALES.PRODUCTNAME' | translate}}</span>
                            <span class="info-value-mobile">{{ sale.producto}}</span>
                        </div>
                        <div class="info-row-mobile">
                            <span class="info-label-mobile">{{'NEW_VAR.POLICY_NUMBER' | translate}}</span>
                            <span class="info-value-mobile">{{ sale.nroPoliza }}</span>
                        </div>
                        <div class="info-row-mobile">
                            <span class="info-label-mobile">{{'IP.ASSIGN-PROJECTS.EXPIRATION' | translate}}</span>
                            <span class="info-value-mobile">{{ sale.vencimiento }}</span>
                        </div>
                        <div class="info-row-mobile">
                            <span class="info-label-mobile__money">{{'NEW_VAR.POLICY_AMOUNT' | translate}}</span>
                            <span class="info-value-mobile__money">{{ sale.valorPoliza }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <app-no-data *ngIf="policies.length < 1"></app-no-data>
        </div>

        <!-- PAGINADOR -->
        <div class="card-paginator" *ngIf="policies.length>5">
            <div class="paginator-controls">
                <app-ip-select-input 
                    [placeholder]="itemsPerpage.toString()"
                    [control]="this.controlsForm.controls.rowPaginator"
                    [options]="rowsCombo"
                ></app-ip-select-input>  

                <ng-container *ngIf="!paginatorReload">
                    <app-paginator 
                        (pageChange)="onPageChange($event)" 
                        [totalItems]="policies.length"
                        [itemsPerPage]="itemsPerpage" 
                        [currentPages]="currentPages"
                    ></app-paginator>
                </ng-container>
            </div>
        </div>
    </div>

</form>






<!-- ============================================ -->
<!-- MODAL FILTERS - MOBILE  -->
<!-- ============================================ -->

<app-filter-modal-mobile  
  *ngIf="isMobile"
  [isOpen]="isModalOpen" 
  (closed)="isModalOpen = false">
  
  <div class="modal-filters-content">
    <p style="margin-bottom: 6vh;margin-left: 3vh; color: rgb(110, 109, 106);" class="modal-title">
      {{'IP.FILTERS_MODAL.FILTER' | translate}} {{'NEW_VAR.POLICIES' | translate | lowercase}}
    </p>

        <!-- Select Producto -->
     <div class="select-wrapper">
        <app-ip-select-input 
          [withSearch]="true"
          [control]="this.controlsForm.controls.productFilter"
          [options]="products"
          [label]="'IP.SETTLEMENTS.DETAILS.PRODUCT_NAME' | translate"
          [placeholder]="'NEW_VAR.SELECT_PRODUCT' | translate"
        ></app-ip-select-input> 
      </div>
      
      <!-- Select Cliente -->
     <div class="select-wrapper">
        <app-ip-select-input 
          [withSearch]="true"
          [control]="controlsForm.controls.clientFilter"
          [options]="clients"
          [label]="'NEW_VAR.CLIENT' | translate"
          [placeholder]="'NEW_VAR.SELECT_CLIENT' | translate"
        ></app-ip-select-input> 
      </div>
      
      <!-- Select Broker (solo assurance) -->
      <div *ngIf="userType === 'assurance'" class="select-wrapper">
        <app-ip-select-input 
          [withSearch]="true"
          [control]="controlsForm.controls.brokerFilter"
          [options]="brokers"
          [label]="'IP.SETTLEMENTS.DETAILS.BROKER_NAME' | translate"
          [placeholder]="'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.SELECT_BROKER' | translate"
        ></app-ip-select-input>  
      </div>

    <div style="margin-top: 1rem;" class="date-row">
      <div class="date-wrapper">
        <label class="placeholder">{{'NEW_VAR.EXPIRATION_FROM' | translate}}</label>
        <app-ip-date-input 
          [control]="controlsForm.controls.dateStart"
          [max]="maxStart"
        ></app-ip-date-input>
      </div>
 
      <div class="date-wrapper">
        <label class="placeholder">{{'NEW_VAR.EXPIRATION_FROM'|translate}}</label>
        <app-ip-date-input
          [control]="controlsForm.controls.dateEnd"
          [max]="maxEnd"
          [min]="minEnd"
        ></app-ip-date-input>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="card-filtros__actions">

    <button [disabled]="!canSearch" class="search" style="margin-right: 6px;" (click)="onClickFiltredSearch()">
        <img src="../../../assets/new-styles/icons/buttons/search-icon-white.svg">
      </button>
      <button  class="clean" (click)="onClearFilters('modal')">
        <img src="../../../../assets/new-styles/icons/cleaning.svg">
      </button>
    </div>
  </div>

</app-filter-modal-mobile>