<div class="modal" (click)="close.emit()"></div>

<div class="modal__content" 
[ngClass]="{ 'modal__content--status': context === 'status' }">
  <div class="modal__header">
    <h4 *ngIf="context == 'detail'">
      {{ "IP.SCHEMES.MODAL_TITLE" | translate }}
    </h4>
    <h4 *ngIf="context == 'status'">
      {{ "IP.SETTLEMENTS.DETAILS.CHANGE_STATUS" | translate }}
    </h4>
    <button (click)="close.emit()">
      <img src="assets/new-styles/icons/buttons/close-icon.svg" />
    </button>
  </div>

  <form [formGroup]="detailedInfoForm">
    <div
      class="modal__body"
      [ngClass]="{ 'modal__body--status': context === 'status' }"
    >
      <div class="modal__section">
        <div
          class="modal__inputs" *ngIf="context == 'detail'"
        >
          <div class="modal__input-wrapper" *ngIf="context == 'detail'">
            <app-ip-input
              inputId="schemeName"
              
              [control]="getControl('schemeName')"
              [label]="'IP.ADMIN_TABLE.SCHEMENAME' | translate"
              type="text"
            ></app-ip-input>
          </div>

          <div class="modal__input-wrapper" *ngIf="context == 'detail'">
            <app-ip-input
              inputId="schemaStatus"
              [control]="getControl('schemaStatus')"
              [label]="'IP.SCHEMES.ACTUALSTATUS' | translate"
              type="text"
            ></app-ip-input>
          </div>

          <div
            class="modal__input-wrapper modal__input-wrapper--full"
            *ngIf="context == 'detail'"
          >
            <app-ip-text-area-input
              inputId="fullDescription"
              [label]="'IP.ADMIN_TABLE.DESCRIPTION' | translate"
              [control]="getControl('fullDescription')"
            ></app-ip-text-area-input>
          </div>
        </div>
        <p *ngIf="context == 'status'">
          {{ "IP.SCHEMES.MESSAGEPARTONE" | translate }}
          <span *ngIf="!schemaToDetail.isActive">{{
            "IP.ADMIN_TABLE.ISSCHEMAACTIVE" | translate
          }}</span>
          <span *ngIf="schemaToDetail.isActive">{{
            "IP.ASSIGN-PROJECTS.INACTIVE" | translate
          }}</span>
          {{ "IP.SCHEMES.MESSAGEPARTTWO" | translate }}
          <span>{{schemaToDetail.schemeName}}?</span>
        </p>
      </div>
    </div>

    <div class="modal__buttons">
      <app-ip-button-modal
        *ngIf="context == 'detail'"
        class="btn--close"
        typeBtn="submit"
        size="normal"
        (clicked)="close.emit()"
      >
        {{ "IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.CLOSE" | translate }}
      </app-ip-button-modal>

      <app-ip-button-modal
        *ngIf="context == 'status'"
        class="btn--close"
        typeBtn="submit"
        size="normal"
        (clicked)="close.emit()"
      >
        {{ "IP.CONFIRM-ACTION-DIALOG.CANCEL" | translate }}
      </app-ip-button-modal>

      <app-ip-button-modal
        *ngIf="context == 'status'"
        class="btn--confirm"
        typeBtn="submit"
        size="normal"
        (clicked)="updateStatus()"
      >
        {{ "IP.CONFIRM-ACTION-DIALOG.CONFIRM" | translate }}
      </app-ip-button-modal>
    </div>
  </form>
</div>
