<form >
<app-title-page 
[title]="title"
[showBackButton]="true"
(backButtonClick)="onBackButtonClick()"
></app-title-page>


<div  class="card-container">
    
  <div  class="card">
    <div class="card-header">
      <span class="card-title">{{'NEW_VAR.INF_GENERAL' | translate}}</span>
    </div>
    <div class="card-body-4">
      <div class="inner-card">
           <app-disabled-input
            inputId="date"
            [label]="'NEW_VAR.DATE' | translate"
            [value]="dataShow.saleDate"
          ></app-disabled-input>
      </div>
      <div class="inner-card">
           <app-disabled-input
            inputId="productName"
            [label]="'NEW_VAR.PRODUCT_NAME' | translate"
            [value]="dataShow.productName"
          ></app-disabled-input>
      </div>
      <div class="inner-card">   
            <app-disabled-input
            inputId="policyNumber"
            [label]="'NEW_VAR.POLICY_NUMER_EXTEND' | translate"
            [value]="dataShow.policyNumber"
          ></app-disabled-input>
      </div>
      <div class="inner-card">
          <app-disabled-input
            inputId="policyValue"
            [label]="'NEW_VAR.POLICY_VALUE' | translate"
            [value]="dataShow.policyValue"
          ></app-disabled-input>
      </div>
      <div class="inner-card">
           <app-disabled-input
            inputId="policyPremiumValue"
            [label]="'NEW_VAR.PREMIUM_AMOUNT' | translate"
            [value]="dataShow.premiumValue"
          ></app-disabled-input>
      </div>
      <div class="inner-card">
           <app-disabled-input
            inputId="brokerCommissionPercentage"
            [label]="'NEW_VAR.PERCENTAJE_BROKER' | translate"
            [value]="dataShow.brokerCommissionPercent"
          ></app-disabled-input>
      </div>
      <div class="inner-card">
         <app-disabled-input
            inputId="brokerCommissionPercentage"
            [label]="'NEW_VAR.PERCENTAJE_BROKER' | translate"
            [value]="dataShow.brokerCommissionARS"
          ></app-disabled-input>
      </div>
      <div class="inner-card">
          <app-disabled-input
            inputId="brokerCommissionPercentage"
            [label]="'NEW_VAR.AMOUNT_PAY' | translate"
            [value]="dataShow.premiumInstallments"
          ></app-disabled-input>
      </div>
    </div>
  </div>
</div>


<div class="card-container" >
  <div  class="card">
    <div class="card-header">
      <span class="card-title">{{'NEW_VAR.CLIENT_INF' | translate}}</span>
    </div>
    <div class="card-body-3">
      <div class="inner-card">
           <app-disabled-input
            inputId="cutomerName"
            [label]="'IP.COST_CENTER.NAME' | translate"
            [value]="dataShow.customerName"
          ></app-disabled-input>
      </div>
      <div class="inner-card">
            <app-disabled-input
            inputId="cutomerEmail"
            [label]="'NEW_VAR.EMAIL' | translate"
            [value]="dataShow.customerEmail"
          ></app-disabled-input>
      </div>
      <div class="inner-card">
          <app-disabled-input
            inputId="customerPhone"
            [label]="'NEW_VAR.TELEPHONE' | translate"
            [value]="dataShow.customerPhone"
          ></app-disabled-input>
      </div>
      
    </div>
  </div>
</div>

<div class="card-container" >
      <div *ngIf="!isMobile" class="card-2">
        <div class="card-header" >
         <span class="card-title">{{'NEW_VAR.PAYMENT_PLAN' | translate}}</span>
        </div>
                        <app-table
                        [keyTranslate]="''"
                        [propertyOrder]="columnsHeaders"
                        [data]="dataShow.installmentPlan"
                        [actions]="[]"
                        [tableStyle]="'invopay'"
                        [isForSelectItem]="false"
                        [scroll]="true"
                        [keyTranslate]="''"
                        [titlesFile]="titlesMap"
                         ></app-table>
                <app-no-data *ngIf="dataShow.installmentPlan.length<1"></app-no-data>
          
      </div>
      <div *ngIf="isMobile" class="card-2">
        <div class="card-header">
         <span class="card-title">{{'NEW_VAR.PAYMENT_PLAN' | translate}}</span>
        </div>
               <div  class="card-mobile" >
                  <div   class="payment-card-mobile-container" *ngFor="let item of dataShow.installmentPlan; let i = index">
                      <div class="payment-card-mobile-data">
                      <div class="card-header-mobile">
                        
                      <span class="card-id-mobile">{{'NEW_VAR.INSTALLMENT_NUMBER'|translate}} {{ item.number }}</span>
                      </div>
                      <div class="card-body-mobile">
  
                      <div class="info-row-mobile">
                          <span class="info-label-mobile">{{'IP.ASSIGN-PROJECTS.EXPIRATION'|translate}}</span>
                          <span class="info-value-mobile"
                          >{{item.dueDate}}</span>
                      </div>
                      <div class="info-row-mobile">
                          <span class="info-label-mobile__status">{{'IP.ASSIGN-PROJECTS.STATUS'|translate}}</span>
                          <span [ngClass]="item.state ==='PAGADA' ? 'info-value-mobile__status__true' : 'info-value-mobile__status__false'">{{item.state}}</span>
                      </div>
                      <div class="info-row-mobile">
                          <span class="info-label-mobile">{{'NEW_VAR.PERCENTAJE_BROKER'|translate}}</span>
                        <span class="info-value-mobile"
                        >{{item.commissionValue}} </span>
                      </div> 
                      <div class="info-row-mobile">
                          <span class="info-label-mobile">{{'IP.PAYMENTS.DATE'|translate}}</span>
                        <span class="info-value-mobile"
                        >{{item.paymentDate}} </span>
                      </div> 
                      <div class="info-row-mobile"> 
                          <span class="info-label-mobile__money">{{'NEW_VAR.PAYMENT_VALUE'|translate}}</span>
                          <span class="info-value-mobile__money">{{ item.amount }}</span>
                      </div>

                      </div>
                  </div>
                  <app-no-data *ngIf="dataShow.installmentPlan.length < 1"></app-no-data>
                  </div>
              </div> 

              
      </div>
</div>
  

</form>

