<section class="product-list page" *ngIf="!(loadingService.isLoading$ | async)">

  <app-ip-title-mobile [title]="'IP.PRODUCTS.LIST.TITLE' | translate" [btn]="isHandset ? 'create' : 'none'"
    [btnText]="'IP.PRODUCTS.BUTTONS.ADD' | translate" (clicked)="onAddNewProduct()">
  </app-ip-title-mobile>

  <section class="product-list__table" *ngIf="!isHandset">
    <app-ip-drag-scroll>
      <div class="drag-scroll-container product-list-table">
        <app-table [data]="products" [propertyOrder]="[
              'logoUrl',
              'name',
              'descriptionShort',
              'statusText'
            ]" [titlesFile]="titlesFile" [actions]="['detail', 'edit', 'delete']" [tableStyle]="'invopay'"
          [isForSelectItem]="false" [initTable]="false" keyTranslate="" (sort)="onSort($event)"
          (action)="onRowAction($event)" [showAddButtonInHeader]="true"
          [addButtonTooltipText]="'IP.PRODUCTS.TABLE.ADD_TOOLTIP' | translate" (addAction)="onAddNewProduct()">
        </app-table>
      </div>
    </app-ip-drag-scroll>
  </section>

  <section class="product-list__cards" *ngIf="isHandset && !loading" role="list"
    [attr.aria-label]="'IP.PRODUCTS.CARDS.ARIA_LABEL' | translate">
    <ng-container *ngIf="products?.length; else noData">
      <article class="product-card" role="listitem" *ngFor="let p of products">

        <header class="product-card__header">
          <img [src]="p.logoUrl | safe" [alt]="p.name" class="product-card__logo" *ngIf="p.logoUrl">
          <div class="product-card__name">{{ p.name }}</div>

          <div class="product-card__menu-container" #menuRef [attr.data-id]="p.id">
            <button type="button" class="product-card__menu-btn" (click)="toggleMenu(p.id!)" aria-haspopup="menu"
              [attr.aria-expanded]="openMenuId === p.id">
              <img src="../../../../assets/icons/more-icon.svg" [alt]="'IP.PRODUCTS.CARDS.MENU_ALT' | translate">
            </button>

            <div class="product-card__menu" role="menu" *ngIf="openMenuId === p.id">
              <button type="button" role="menuitem" class="product-card__menu-item"
                (click)="openMenuId = null; onRowAction({ event: 'detail', dataField: p })">
                {{ 'IP.PRODUCTS.CARDS.ACTIONS.VIEW' | translate }}
              </button>
              <button type="button" role="menuitem" class="product-card__menu-item"
                (click)="openMenuId = null; onRowAction({ event: 'edit', dataField: p })" [disabled]="!p.isActive">
                {{ 'IP.PRODUCTS.CARDS.ACTIONS.EDIT' | translate }}
              </button>
              <button type="button" role="menuitem" class="product-card__menu-item product-card__menu-item--delete"
                (click)="openMenuId = null; onRowAction({ event: 'delete', dataField: p })" [disabled]="!p.isActive">
                {{ 'IP.PRODUCTS.CARDS.ACTIONS.DELETE' | translate }}
              </button>
            </div>
          </div>
        </header>

        <div class="product-card__body">
          <div class="product-card__row is-description">
            <span class="product-card__label">{{ 'IP.PRODUCTS.CARDS.LABELS.DESCRIPTION' | translate }}</span>
            <span class="product-card__value">{{ p.descriptionShort }}</span>
          </div>
          <div class="product-card__row">
            <span class="product-card__label">{{ 'IP.PRODUCTS.CARDS.LABELS.ACTIVE' | translate }}</span>
            <span class="product-card__value" [class.status--active]="p.isActive"
              [class.status--inactive]="!p.isActive">
              {{ p.statusText }}
            </span>
          </div>
        </div>
      </article>
    </ng-container>

    <ng-template #noData>
      <div class="product-card__empty">{{ 'IP.PRODUCTS.CARDS.NO_DATA' | translate }}</div>
    </ng-template>
  </section>

  <footer class="product-list__paginator" *ngIf="!isHandset && !loading">
    <div class="page-size">
      <app-ip-select-input [control]="itemsPerPageControl" [options]="pageOptions"
        (selectEmitter)="onPageSizeChange($event)"></app-ip-select-input>
    </div>
    <ng-container *ngIf="!paginatorReload">
      <app-paginator [totalItems]="total" [itemsPerPage]="pageSize" [currentPages]="pageIndex + 1"
        (pageChange)="onPageChange($event)">
      </app-paginator>
    </ng-container>
  </footer>

  <footer class="product-list__paginator--mobile" *ngIf="isHandset && !loading">
    <app-paginator [totalItems]="total" [itemsPerPage]="10" [currentPages]="mobilePageIndex + 1"
      (pageChange)="onMobilePageChange($event)">
    </app-paginator>
  </footer>


  <div class="overlay" *ngIf="isViewModalOpen" (click)="onViewModalClose()">
    <div class="overlay__center" (click)="$event.stopPropagation()">
      <app-ip-modal-mobile [title]="'IP.PRODUCTS.VIEW_MODAL.TITLE' | translate" [showTitle]="true"
        [showCloseModal]="true" (close)="onViewModalClose()">
        <ng-container *ngIf="selectedProduct as p">

          <form class="product-details" [formGroup]="editForm">

            <div class="product-details__header">
              <img [src]="p.logoUrl | safe" [alt]="p.name" class="product-details__logo" *ngIf="p.logoUrl">
              <div class="product-details__header-info">
                <h3 class="product-details__name">{{p.name}}</h3>
                <div class="product-details__status-container">
                  <span class="product-details__status-label">
                    {{ 'IP.PRODUCTS.FORM.IS_ACTIVE.LABEL' | translate }}:
                  </span>
                  <span class="product-details__status" [class.status--active]="p.isActive"
                    [class.status--inactive]="!p.isActive">
                    {{ p.statusText }}
                  </span>
                </div>
              </div>
            </div>

            <div class="product-details__section" *ngIf="p.descriptionShort">
              <label>{{ 'IP.PRODUCTS.VIEW_MODAL.LABELS.DESC_SHORT' | translate }}</label>
              <app-ip-text-area-input [control]="$any(editForm.get('description'))"
                [label]="'IP.PRODUCTS.VIEW_MODAL.LABELS.DESC_SHORT' | translate" inputId="view-desc-short">
              </app-ip-text-area-input>
            </div>
            <div class="product-details__section product-details__section__long-text" *ngIf="p.descriptionDetailed">
              <label>{{ 'IP.PRODUCTS.VIEW_MODAL.LABELS.DESC_DETAILED' | translate }}</label>
              <app-ip-text-area-input [control]="$any(editForm.get('longDescription'))"
                [label]="'IP.PRODUCTS.VIEW_MODAL.LABELS.DESC_DETAILED' | translate" inputId="view-desc-detailed">
              </app-ip-text-area-input>
            </div>

            <div class="product-details__section" *ngIf="p.documents?.length">
              <label>{{ 'IP.PRODUCTS.FORM.DOCUMENTS.LABEL' | translate }}</label>

              <ul class="product-details__docs-list">
                <li *ngFor="let doc of p.documents">
                  <a [href]="doc.url | safe" target="_blank" rel="noopener noreferrer">
                    {{ doc.description }}
                  </a>
                </li>
              </ul>
            </div>

          </form>
          <div class="product-details__actions">
            <app-ip-button-modal typeBtn="cancel" (clicked)="onViewModalClose()">
              {{ 'IP.PRODUCTS.VIEW_MODAL.BUTTONS.CLOSE' | translate }}
            </app-ip-button-modal>
          </div>
        </ng-container>
      </app-ip-modal-mobile>
    </div>
  </div>

  <div class="overlay" *ngIf="isDeleteModalOpen" (click)="onDeleteModalClose()">
    <div class="overlay__center" (click)="$event.stopPropagation()">
      <app-ip-modal-mobile [title]="'IP.PRODUCTS.DELETE_MODAL.TITLE' | translate" [showTitle]="true"
        [showCloseModal]="true" (close)="onDeleteModalClose()">
        <ng-container *ngIf="selectedProduct as p">
          <div class="product-delete-confirm">
            <p class="product-delete-confirm__message">{{ 'IP.PRODUCTS.DELETE_MODAL.CONFIRM_MESSAGE' | translate }}
              <strong>"{{ p.name }}"</strong>?
            </p>
            <p class="product-delete-confirm__message__warning">
              {{ 'IP.PRODUCTS.DELETE_MODAL.NOTE' | translate }}
            </p>
          </div>
          <div class="product-details__actions">
            <app-ip-button-modal typeBtn="cancel" (clicked)="onDeleteModalClose()" [disabled]="deleteBusy">
              {{ 'IP.PRODUCTS.BUTTONS.CANCEL' | translate }}
            </app-ip-button-modal>
            <app-ip-button-modal typeBtn="action" (clicked)="onConfirmDelete()" [disabled]="deleteBusy">
              <ng-container *ngIf="!deleteBusy; else deleting">
                {{ 'IP.PRODUCTS.BUTTONS.CONFIRM' | translate }}
              </ng-container>
              <ng-template #deleting>
                {{ 'IP.PRODUCTS.BUTTONS.DELETING' | translate }}
              </ng-template>
            </app-ip-button-modal>
          </div>
        </ng-container>
      </app-ip-modal-mobile>
    </div>
  </div>

  <div class="overlay" *ngIf="isCreateModalOpen" (click)="onCreateModalClose()">
    <div class="overlay__center" (click)="$event.stopPropagation()">
      <app-ip-modal-mobile [title]="'IP.PRODUCTS.CREATE_MODAL.TITLE' | translate" [showTitle]="true"
        [showCloseModal]="true" (close)="onCreateModalClose()">

        <form class="product-details" [formGroup]="createForm">

          <div class="product-details__section">
            <label for="create-code">{{ 'IP.PRODUCTS.FORM.CODE.LABEL' | translate }}</label>
            <app-ip-input [formGroup]="createForm" controlName="code" inputId="create-code"
              labelCode="IP.PRODUCTS.FORM.CODE.LABEL">
            </app-ip-input>
          </div>

          <div class="product-details__section">
            <label>{{ 'IP.PRODUCTS.FORM.LOGO.LABEL' | translate }}</label>
            <div class="logo-preview-container" *ngIf="createForm.get('logoUrl')?.value">
              <img [src]="createForm.get('logoUrl')?.value | safe"
                [alt]="'IP.PRODUCTS.FORM.LOGO.PREVIEW_ALT' | translate">
            </div>
            <button type="button" class="file-upload-btn" (click)="logoUploaderCreate.click()">
              {{ 'IP.PRODUCTS.FORM.LOGO.UPLOAD_BUTTON' | translate }}
            </button>
            <input type="file" class="file-upload-input" #logoUploaderCreate
              accept="image/png, image/jpeg, image/svg+xml" (change)="onFileSelected($event, createForm, 'logoUrl')">
          </div>

          <div class="product-details__section">
            <label for="create-name">{{ 'IP.PRODUCTS.FORM.NAME.LABEL' | translate }}</label>
            <app-ip-input [formGroup]="createForm" controlName="name" inputId="create-name"
              labelCode="IP.PRODUCTS.FORM.NAME.LABEL">
            </app-ip-input>
          </div>

          <div class="product-details__section">
            <label for="create-type">{{ 'IP.PRODUCTS.FORM.TYPE.LABEL' | translate }}</label>
            <select id="create-type" class="form-control" formControlName="type">
              <option value="INDIVIDUAL">INDIVIDUAL</option>
              <option value="ENTREPRISE">ENTREPRISE</option>
            </select>
          </div>

          <div class="product-details__section">
            <label for="create-long-desc">{{ 'IP.PRODUCTS.FORM.DESCRIPTION.LABEL' | translate }}</label>
            <app-ip-text-area-input [control]="$any(createForm.get('description'))"
              [label]="'IP.PRODUCTS.FORM.DESCRIPTION.LABEL' | translate" inputId="create-desc">
            </app-ip-text-area-input>
          </div>

          <div class="product-details__section product-details__section__long-text">
            <label for="create-long-desc">{{ 'IP.PRODUCTS.FORM.LONG_DESCRIPTION.LABEL' | translate }}</label>
            <app-ip-text-area-input [control]="$any(createForm.get('longDescription'))"
              [label]="'IP.PRODUCTS.FORM.LONG_DESCRIPTION.LABEL' | translate" inputId="create-long-desc">
            </app-ip-text-area-input>
          </div>

          <div class="product-details__section is-toggle">
            <label for="create-isActive">{{ 'IP.PRODUCTS.FORM.IS_ACTIVE.LABEL' | translate }}</label>
            <input type="checkbox" id="create-isActive" class="form-check" formControlName="isActive">
          </div>
          <div class="product-details__section">
            <label>{{ 'IP.PRODUCTS.FORM.DOCUMENTS.LABEL' | translate }}</label>

            <div class="docs-array-container" formArrayName="documents">

              <div class="docs-array-row"
                *ngFor="let docGroup of documentationFormArray(createForm).controls; let i = index" [formGroupName]="i">

                <input type="text" class="form-control" formControlName="description"
                  placeholder="Descripción del documento"
                  [class.is-invalid]="docGroup.get('description')?.invalid && docGroup.get('description')?.touched">

                <div class="file-input-wrapper">
                  <button type="button" class="file-upload-btn--small" (click)="docInput.click()"
                    [disabled]="docGroup.get('description')?.invalid"
                    [style.opacity]="docGroup.get('description')?.invalid ? '0.5' : '1'"
                    [style.cursor]="docGroup.get('description')?.invalid ? 'not-allowed' : 'pointer'">
                    {{ 'IP.PRODUCTS.FORM.DOCUMENTS.UPLOAD_BUTTON' | translate }}
                  </button>

                  <input type="file" class="file-upload-input" #docInput
                    (change)="onDocumentFileSelected($event, createForm, i)">

                  <span *ngIf="docGroup.get('fileRaw')?.value" class="file-name-preview" style="color: green;">
                    {{ 'IP.PRODUCTS.FORM.DOCUMENTS.UPLOAD_CONFIRMED' | translate }}
                  </span>
                </div>

                <button type="button" class="docs-array-remove-btn" (click)="removeDocumentRow(createForm, i)">
                  <img src="../../../../assets/icons/unassing.svg" alt="Eliminar fila">
                </button>
                <small *ngIf="isDuplicateDescription(i)" style="color: red; display: block;">
                  Nombre ya utilizado en otro documento.
                </small>
              </div>
            </div>

            <button type="button" class="docs-array-add-btn" (click)="addDocumentRow(createForm)">
              {{ 'IP.PRODUCTS.FORM.DOCUMENTS.ADD_BUTTON' | translate }}
            </button>
          </div>
          <div class="product-details__actions">
            <app-ip-button-modal typeBtn="cancel" (clicked)="onCreateModalClose()" [disabled]="createBusy">
              {{ 'IP.PRODUCTS.BUTTONS.CANCEL' | translate }}
            </app-ip-button-modal>
            <app-ip-button-modal typeBtn="action" (clicked)="onConfirmCreate()"
              [disabled]="createForm.invalid || createBusy">
              <ng-container *ngIf="!createBusy; else saving">
                {{ 'IP.PRODUCTS.CREATE_MODAL.BUTTONS.SAVE' | translate }}
              </ng-container>
              <ng-template #saving>
                {{ 'IP.PRODUCTS.BUTTONS.SAVING' | translate }}
              </ng-template>
            </app-ip-button-modal>
          </div>

        </form>
      </app-ip-modal-mobile>
    </div>
  </div>

  <div class="overlay" *ngIf="isEditModalOpen" (click)="onEditModalClose()">
    <div class="overlay__center" (click)="$event.stopPropagation()">
      <app-ip-modal-mobile [title]="'IP.PRODUCTS.EDIT_MODAL.TITLE' | translate" [showTitle]="true"
        [showCloseModal]="true" (close)="onEditModalClose()">

        <form class="product-details" [formGroup]="editForm">
          <div class="product-details__section">
            <label>{{ 'IP.PRODUCTS.FORM.CODE.LABEL_READONLY' | translate }}</label>
            <app-ip-input [formGroup]="editForm" controlName="code" inputId="edit-code"
              labelCode="IP.PRODUCTS.FORM.CODE.LABEL_READONLY">
            </app-ip-input>
          </div>

          <div class="product-details__section">
            <label>{{ 'IP.PRODUCTS.FORM.LOGO.LABEL' | translate }}</label>
            <div class="logo-preview-container" *ngIf="editForm.get('logoUrl')?.value">
              <img [src]="editForm.get('logoUrl')?.value | safe"
                [alt]="'IP.PRODUCTS.FORM.LOGO.PREVIEW_ALT' | translate">
            </div>
            <button type="button" class="file-upload-btn" (click)="logoUploaderEdit.click()">
              {{ 'IP.PRODUCTS.FORM.LOGO.UPLOAD_BUTTON' | translate }}
            </button>
            <input type="file" class="file-upload-input" #logoUploaderEdit accept="image/png, image/jpeg, image/svg+xml"
              (change)="onFileSelected($event, editForm, 'logoUrl')">
          </div>

          <div class="product-details__section">
            <label for="edit-name">{{ 'IP.PRODUCTS.FORM.NAME.LABEL' | translate }}</label>
            <app-ip-input [formGroup]="editForm" controlName="name" inputId="edit-name"
              labelCode="IP.PRODUCTS.FORM.NAME.LABEL">
            </app-ip-input>
          </div>

          <div class="product-details__section">
            <label for="edit-type">{{ 'IP.PRODUCTS.FORM.TYPE.LABEL' | translate }}</label>
            <select id="edit-type" class="form-control" formControlName="type">
              <option value="INDIVIDUAL">INDIVIDUAL</option>
              <option value="ENTREPRISE">ENTREPRISE</option>
            </select>
          </div>

          <div class="product-details__section">
            <label for="edit-desc-short">{{ 'IP.PRODUCTS.FORM.DESCRIPTION.LABEL' | translate }}</label>
            <app-ip-text-area-input [control]="$any(editForm.get('description'))"
              [label]="'IP.PRODUCTS.FORM.DESCRIPTION.LABEL' | translate" inputId="edit-desc-short">
            </app-ip-text-area-input>
          </div>

          <div class="product-details__section product-details__section__long-text">
            <label for="edit-long-desc">{{ 'IP.PRODUCTS.FORM.LONG_DESCRIPTION.LABEL' | translate }}</label>
            <app-ip-text-area-input [control]="$any(editForm.get('longDescription'))"
              [label]="'IP.PRODUCTS.FORM.LONG_DESCRIPTION.LABEL' | translate" inputId="edit-long-desc">
            </app-ip-text-area-input>
          </div>
          <div class="product-details__section">
            <label>{{ 'IP.PRODUCTS.FORM.DOCUMENTS.LABEL' | translate }}</label>

            <div class="docs-array-container" formArrayName="documents">

              <div class="docs-array-row"
                *ngFor="let docGroup of documentationFormArray(editForm).controls; let i = index" [formGroupName]="i">

                <input type="text" class="form-control" formControlName="description"
                  placeholder="Descripción del documento"
                  [class.is-invalid]="docGroup.get('description')?.invalid && docGroup.get('description')?.touched"
                  [readonly]="docGroup.get('filePath')?.value">
                <div class="file-input-wrapper">

                  <button type="button" class="file-upload-btn--small" (click)="docInput.click()"
                    [disabled]="docGroup.get('description')?.invalid || docGroup.get('filePath')?.value"
                    [style.opacity]="(docGroup.get('description')?.invalid || docGroup.get('filePath')?.value) ? '0.5' : '1'"
                    [style.cursor]="(docGroup.get('description')?.invalid || docGroup.get('filePath')?.value) ? 'not-allowed' : 'pointer'">

                    <ng-container *ngIf="!docGroup.get('filePath')?.value; else loadedText">
                      {{ 'IP.PRODUCTS.FORM.DOCUMENTS.UPLOAD_BUTTON' | translate }}
                    </ng-container>
                    <ng-template #loadedText>
                      Cargado
                    </ng-template>

                  </button>

                  <input type="file" class="file-upload-input" #docInput
                    (change)="onDocumentFileSelected($event, editForm, i)">

                  <span *ngIf="docGroup.get('fileRaw')?.value" class="file-name-preview" style="color: green;">
                    {{ 'IP.PRODUCTS.FORM.DOCUMENTS.UPLOAD_CONFIRMED' | translate }}
                  </span>

                </div>

                <button type="button" class="docs-array-remove-btn" (click)="removeDocumentRow(editForm, i)">
                  <img src="../../../../assets/icons/unassing.svg" alt="Eliminar fila">
                </button>

                <small *ngIf="isDuplicateDescription(i)" style="color: red; display: block;">
                  Nombre ya utilizado en otro documento.
                </small>
              </div>
            </div>

            <button type="button" class="docs-array-add-btn" (click)="addDocumentRow(editForm)">
              {{ 'IP.PRODUCTS.FORM.DOCUMENTS.ADD_BUTTON' | translate }}
            </button>
          </div>

          <div class="product-details__actions">
            <app-ip-button-modal typeBtn="cancel" (clicked)="onEditModalClose()" [disabled]="editBusy">
              {{ 'IP.PRODUCTS.BUTTONS.CANCEL' | translate }}
            </app-ip-button-modal>

            <app-ip-button-modal typeBtn="action" (clicked)="onConfirmEdit()" [disabled]="editForm.invalid || editBusy">
              <ng-container *ngIf="!editBusy; else saving">
                {{ 'IP.PRODUCTS.EDIT_MODAL.BUTTONS.SAVE' | translate }}
              </ng-container>
              <ng-template #saving>
                {{ 'IP.PRODUCTS.BUTTONS.SAVING' | translate }}
              </ng-template>
            </app-ip-button-modal>
          </div>
        </form>
      </app-ip-modal-mobile>
    </div>
  </div>

</section>